<style>
body{
	padding: 30px;
}
</style>

<h1>Задача</h1>
<p style="font-size: 22px;">План випуску деталей 1 типу – не менш, ніж 1100 одиниць, 2 типу – 900 одиниць та 3 типу – 700 одиниць. При розкрої стандартного листа одним варіантом отримують 7 деталей 1 типу, 5 – 2 типу, 9 – третього типу та 0,2 ум. одиниць залишків. Другий варіант розкрою дає 3 деталі 1 типу, 4 – другого типу, 2 – 3 типу та 0,3 ум. од. залишків. Визначити, скільки листів треба кроїти кожним із варіантів так, щоб був виконаним план випуску, а сума залишків була мінімальною.</p>

<h2>Ответ:</h2>
<h4>Листів треба 1 вар.: {{ v1 }}</h4>
<h4>Листів треба 2 вар.: {{ v2 }}</h4>
<h4>Мин. сума залышку: {{ v3 }}</h4>
{% load static %} 
<img src="{% static 'images/paint.png' %}"/ style="width: 1000px;">
